{% extends 'base.html' %}

{% block pageCss %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/grupos.css')}}">
{% endblock %} 

{% block pageTitle %} Grupo 9 de Kanji da 1ª Série {% endblock %}

{% block pageContent %}
    <div class="content">
        <h1>
            Grupo 9
        </h1>
        <p>Esse é o nono grupo de kanji representando coisas da cidade</p>
        <div class="grid-container">

            <!--Kanji 王-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        王
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                        <p class="card-text">オウ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                        <p class="card-text">-</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Rei
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 村-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        村
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                        <p class="card-text">ソン</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                        <p class="card-text">むら</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Vila
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 町-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        町
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">チョウ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">まち</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Cidade
                        </p>
                    </div>
                </div>
            </div>



            <!--Kanji 中-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        中
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">チュウ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">なか, うち</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Dentro, meio
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 早-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        早
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ソウ, サッ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">はや・い, はや, はや・まる</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Rápido, cedo
                        </p>
                    </div>
                </div>
            </div>




            <!--Kanji 車-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        車
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">シャ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">くるま</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Carro
                        </p>
                
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}