{% extends 'base.html' %}

{% block pageCss %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/grupos.css')}}">
{% endblock %} 

{% block pageTitle %} Grupo 3 de Kanji da 1ª Série {% endblock %}

{% block pageContent %}
    <div class="content">
        <h1>
            Grupo 3
        </h1>

        <p>Esse é o terceiro grupo de kanji representando palavras sobre tempo</p>

        <div class="grid-container">

            <!--Kanji 月-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        Kanji
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            月
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        ON
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            ガツ, ゲツ
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">
                        つき
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Mês, lua
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 日-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        Kanji
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            日
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        ON
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            ニチ
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">
                        ひ
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Dia
                        </p>
                    </div>
                </div>
            </div>
        


            <!--Kanji 年-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        Kanji
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            年
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        ON
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            ネン
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">
                        とし
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Ano
                        </p>
                    </div>
                </div>
            </div>
        


            <!--Kanji 夕-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        Kanji
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            夕
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        ON
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            -
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">
                        ゆう
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Anoitecer
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}