{% extends 'base.html' %}

{% block pageCss %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/grupos.css')}}">
{% endblock %} 

{% block pageTitle %} Grupo 1 de Kanji da 1ª Série {% endblock %}

{% block pageContent %}
    <div class="content">
        <h1>
            Grupo 1
        </h1>
        <p>Esse é o primeiro grupo de kanji representando os números</p>
        <div class="grid-container">

            <!--Kanji 一-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Kanji
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           一
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        ON
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            イツ, イチ
                        </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">
                        ひとつ
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Um
                        </p>
                    </div>
                </div>
            </div>

            <!--Kanji 二-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        二
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                        <p class="card-text">ニ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                        <p class="card-text">ふたつ, ふた</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Dois
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 三-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        三
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                        <p class="card-text">サン</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                        <p class="card-text">みっつ</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Três
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 四-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        四
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                        <p class="card-text">シ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                        <p class="card-text">よっつ</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Quatro
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 五-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        五
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ゴ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">いつつ</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Cinco
                        </p>
                    </div>
                </div>
            </div>



            <!--Kanji 六-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        六
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ロク</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">むっつ</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Seis
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 七-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        七
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">シチ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">ななつ</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Sete
                        </p>
                    </div>
                </div>
            </div>




            <!--Kanji 八-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        八
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ハチ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">やっつ</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Oito
                        </p>
                
                    </div>
                </div>
            </div>


            <!--Kanji 九-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        九
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">キュウ, ク</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">ここのつ</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Nove
                        </p>
                
                    </div>
                </div>
            </div>

            <!--Kanji 十-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        十
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ジュウ, ジッ, ジュッ</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">とお</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Dez
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 百-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        百
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">ヒャク, ビャク</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">もも</p>
                    </div>
                </div>
            </div>


            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Cem
                        </p>
                    </div>
                </div>
            </div>


            <!--Kanji 千-->
            <!--Card para representar o kanji-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Kanji</div>
                    <div class="card-body">
                    <p class="card-text">
                        千
                    </p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura ON-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">ON</div>
                    <div class="card-body">
                    <p class="card-text">セン</p>
                    </div>
                </div>
            </div>

            <!--Card para a leitura KUN-->
            <div class="grid-item">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">KUN</div>
                    <div class="card-body">
                    <p class="card-text">ち</p>
                    </div>
                </div>
            </div>

            <!--Card para a tradução do kanji-->
            <div class="grid-item">
                <div class="tam-carta card text-white bg-dark mb-3">
                    <div class="card-header">
                        Tradução
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Mil
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}