body{
    background-color: #02111B;
}

.content{
    margin: 0 5%;
    min-height: 100vh;
    font-size: 20px;
    color: white;
}

.imagem-footer{
    width: 50px;
}

footer{
    margin-top:auto;
}

a{
    text-decoration : none;
    color: white;
}